
body{
    background-color: cadetblue;
}
h1{
    text-align: center;
}
.main{
    background-color: rgb(96, 149, 149);
    display: flex;
    justify-content: center;
    padding: 80px;
}
.card-left img{
    width: 70%;
    margin-left: 20%;
}
.card-left{
    background-color: rgb(42, 108, 165);
    padding: 20px;
}
.card-right{
    background-color: rgb(217, 206, 206); 
    padding: 10px;
}

.card-right h2{
    color: orange;
}
.material-icons{
    color: orange;
}


