/* ========================part of seller product in table======================== */
body{
    background-color: rgb(196, 207, 223);
}
.nav-bar{
    background-color: rgb(65, 65, 211);
    display: flex;
    justify-content:space-around ;
    padding: 10px;
    color: white;
}
a{
    color: white;
}
.image img{
    width: 30%;
}
.image {
    margin-right: 30%;
}
h2{
    text-align: center;
}
table{
    border-collapse: collapse;
    margin-top: 3%;
    font-size: 20px;
    margin-left: 2%;
    width: 95%;  
}
tr ,th ,td{
    padding: 30px;
    border: 1px solid black; 
}
tr th{
    background-color: rgb(11, 59, 170);
    color: white;
}
tr{
    background-color: rgb(229, 231, 237);
}
td{
    width: 20%;
}
.add{
    margin-left: 85%;
}
.add  {
    background-color: blue;
    color: white;
    padding: 10px;
    width: 10%;
    margin-top: 20px;
    border: none;
}
.edit-delete .delete{
    background-color: rgb(202, 37, 29);
    color: white;
    border: none;
    padding: 12px;
    margin: 10px;
}

.edit-delete .edit{
    background-color: rgb(29, 95, 202);
    color: white;
    border: none;
    padding: 12px;
}
img{
    width: 70%;
    margin-left: 20%;
    margin-top: 1%;
}


/* ===================================part dialog========================================/
*/
 
header{
    font-size:larger ;
    color: rgb(2, 6, 11);
}
dialog{
    background-color: rgb(153, 153, 175);
    margin-top: 10%;
    margin-left: 30%;
    width: 40%;
    
}

input{
    padding: 10px;
    display: flex;
    margin: 5px;
    width: 70%;
}
::placeholder{
    font-size: larger;
    color: rgb(167, 158, 158);
}
menu button {
    background-color: rgb(54, 54, 175);
    padding: 10px;
    color:white ;
    border:none;
    margin: 10px;   
}
menu{
    display: flex;
} 